<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 ">
            <h1 class="graphic-title text-center"><%= gettext('Shrinking refuge')%></h1>
            <p class="graphic-subhead text-center"><%= gettext('President Donald Trump has slashed the refugee cap to the lowest level in the history of the modern refugee program, citing concerns about costs and national security.')%> </p>
            <p class="graphic-date text-center"><%= gettext('PUBLISHED MAY 21, 2018')%><br /><%= gettext('UPDATED OCT. 3, 2019')%> </p>
            <hr class="separator hidden-sm-down" />
        </div>
    </div>
    
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <p class="graphic-section-label text-center"><%= gettext('Refugee cap')%></p>
            <p class="graphic-chart-subhead"><%= gettext('The number of refugees admitted to the United States each fiscal year cannot exceed the ceiling set by the President, but there is no obligation to meet that level. For fiscal year 2017, Trump issued an executive order cutting the number of refugees admitted to the United States to 50,000, less than half the 110,000 former President Barack Obama had authorized. For fiscal year 2020, Trump has proposed a cap of 18,000, a 40% cut from the previous year and the lowest since the Refugee Act was signed into law in 1980. ')%></p>
            <p class="graphic-chart-label"><%= gettext('NUMBER OF REFUGEES ADMITTED')%></p>
            <div id="reutersGraphic-chart-immigration-refugeequota" class="reuters-chart"></div>
             <p class="graphic-source"><%= gettext('Note: Data as of Aug. 31, 2019')%></p>
        </div>

    </div>
    
    <div class="row justify-content-center mt-2">
        <div class="col-lg-8 ">
            <p class="graphic-section-label text-center"><%= gettext('Admissions slow to a trickle for some countries')%></p>
            <p class="graphic-chart-subhead"><%= gettext('Soon after taking office Trump issued an order banning most travel from a handful of several Muslim-majority countries. The ban was later modified and applied to Iran, Libya, Syria, Yemen, Somalia as well as North Korea and some government officials in Venezuela. The ban, which the U.S. Supreme Court allowed to take effect following legal challenges, has been in place since in Dec. 2017. While refugees are exempt from the ban, many refugees from the countries subject to the ban face additional security vetting. Before the ban was implemented, in FY2017, 28% of refugees arrivals were from the countries subject to travel restrictions compared to 3% in FY2019. ')%></p>
             <p class="graphic-chart-label"><%= gettext('REFUGEES FROM COUNTRIES SUBJECT TO TRAVEL BAN')%></p>
            <div id="reutersGraphic-chart-immigration-refugee" class="reuters-chart"></div>
            <p class="graphic-source"><%= gettext('Note: Data as of Aug. 31, 2019')%></p>
             <p class="graphic-chart-label"><%= gettext('TOTAL MONTHLY REFUGEE ARRIVALS')%></p>
            <div id="reutersGraphic-chart-immigration-refugee-total" class="reuters-chart"></div>
            <p class="graphic-source"><%= gettext('Note: Data as of Sept. 20, 2019')%></p>
        </div>

    </div>

<!--     <div class="row justify-content-center mt-2">
        <div class="col-lg-8 ">
            <p class="graphic-section-label text-center"><%= gettext('Petitions for relatives')%></p>
            <p class="graphic-chart-subhead"><%= gettext('Families members waiting to rejoin relatives already resettled in the United States have fallen, as overall refugee admissions have declined. The number of approved refugee family reunification visas have dropped about 73% since FY2013. ')%></p>
             <p class="graphic-chart-label"><%= gettext('REFUGEE RELATIVE PETITIONS')%></p>
            <div id="reutersGraphic-chart-immigration-petition" class="reuters-chart"></div>
            <p class="graphic-source"><%= gettext('Note: 2019 data through the third quarter')%></p>
        </div>

    </div>
     -->
    
<!--     <div class="row justify-content-center mt-2">
        <div class="col-lg-8">
            <p class="graphic-section-label text-sm-center"><%= gettext('Resettlement in the United States')%></p>
            <p class="graphic-chart-subhead"><%= gettext('Approximately 35 percent of the 8,635 refugees that have been admitted in fiscal year 2018 through April 30 have been resettled in Ohio, Texas, California, New York and Washington state.')%></p>
			<div id="reutersGraphic-map-immigration-refugeebystate" class="reuters-chart"></div>
            <p class="graphic-source"><%= gettext('Note: Data excludes Special Immigrant Visa (SIV) recipients who have elected and received U.S. Refugee Admissions Program (USRAP) Reception and Placement (R&P) benefits.')%></p>
        </div>

    </div> -->
    
            
    <div class="row justify-content-center">            
        <div class="col-lg-8 mt-1">
            <p class="graphic-source"><%= gettext('Sources: Refugee Processing Center; USCIS')%><br /><%= gettext('By Christine Chan, Sirui Zhu and Ally J. Levine | REUTERS GRAPHICS')%></p>
        </div>
    </div>
</div>